/* Disable arrow from number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7rem;
    width: 55rem;
    margin: auto;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.in-Icon{
    position:absolute;
    top: 52%;
    left: 0;
    transform: translateY(-50%);
}

.register-form{
    width: 60%;
}

.register-img{
    max-width: 50%;
}

.register-img img{
    width: 110%;
}
.sign-up-btn{
    margin-top: 15px;
    width: 85%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 7px;
    background-color:var(--secondary-color);
    color: var(--white-color);
    border: none;
}
.sign-up-btn:hover{
    background-color: var(--primary-color);
}